{% extends 'basic.html' %}

{% block title %}
        Pritesh Portfolio
    {% endblock title %}

    

  {% block Hero_backgroung %}
      <section id="hero" class="hero section dark-background">

      <img src="/static/assets/img/Pritesh_Background (1).jpg" alt="" data-aos="fade-in" class="">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <h2>Pritesh Wadile</h2>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer">Designer</span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span><span class="typed-cursor typed-cursor--blink" aria-hidden="true"></span></p>
      </div>

    </section>
  {% endblock Hero_backgroung %}


  {% block body %}
     {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            {% endfor %}
            {% endif %}
  {% endblock body %}