{% extends 'basic.html' %}

{% block title %}
        About
    {% endblock title %}


    {% block body %}
       <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About</h2>
        <p>I am a Python and Django developer who enjoys building backend applications and working with databases. I like writing clean code and learning new technologies. I am looking for an opportunity to grow my skills and work on real-world projects.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="/static/assets/img/photo.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 content">
            <h2>Python Developer &amp; Web Developer.</h2>
            <p class="fst-italic py-3">
              I specialize in building reliable backend systems using Python and Django, with a focus on clean architecture and performance.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>2 Feb 2001</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>8668628860</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Mumbai, India</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>25</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor's degree</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>priteshwadile0211@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              I have hands-on experience working with Python, Django, SQL, REST APIs, AWS, Linux, Rancher, and Kafka. I enjoy developing backend logic, handling data efficiently, and collaborating with teams to deliver quality software solutions. I’m currently looking for opportunities where I can contribute, learn, and grow as a professional developer.
            </p>
          </div>
        </div>

      </div>

    </section>
    {% endblock body %}